@font-face{
	font-family: 'Roboto';
	src: url("libs/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

html *{
	font-family: 'Roboto';
}


#header {
  background-color: #FFDDAA;
  display: table-row;
  height: 1%; /* this was 0, make it 1% */
}

.section{
	text-align:center;
}

.mainPage{

}

.settingPage{
  color: white;
}

.aboutPage{
	color: white;
}


.settingPage h1, .aboutPage h1{
	color: white;
}

.rightside, .leftside{
	margin: 0px 10px;
}
.rightside{
	float: right;
}

.leftside{
	float: left;
}


textarea{
	resize: none;
	border-width: 2px;
	border-radius: 8px;
	outline: none;
	padding: 8px;
	font-size: 110%;
	font-family: "Roboto";

	box-sizing: border-box;
	width: calc(50% - 20px);
  height: calc(100% - 125px);
}


@keyframes shadow_over{
	from{box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);}
	to{box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
}

@keyframes shadow_out{
	from{box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
	to{box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);}
}

textarea.over{
	animation-name: shadow_over;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

textarea.out{
	animation-name: shadow_out;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
