@font-face{
	font-family: 'Roboto';
	src: url("libs/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

html *{
	font-family: 'Roboto';
	-webkit-user-select: none;
}


#header {
	background-color: #FFDDAA;
	display: table-row;
	height: 1%; /* this was 0, make it 1% */
}

.section{
	text-align:center;
}

.mainPage{

}

.settingPage{
	color: white;
}

.aboutPage{
	color: white;
}


.settingPage h1, .aboutPage h1, .settingPage h2, .aboutPage h2, .settingPage h3, .aboutPage h3{
	color: white;
}

.aboutPage h2{
	font-size: 3em;
}

.rightside{
	float: right;
	margin-right: 20px;
}

.leftside{
	float: left;
	margin-left: 20px
}

h1.leftside{
	margin-left: calc(25% - 100px);
}

h1.rightside{
	margin-right: calc(25% - 100px);
}

.rightmidd{
	position: absolute;
	/*float: right;*/
	left: calc(50%);
	padding: 0;
}

.leftmidd{
	position: absolute;
	/*float: right;*/
	right: calc(50%);
	padding: 0;
}

.verticalCenter{
	vertical-align: middle;
}


.myButton{
	font-size: 110%;
}

#btnClear{
	position: absolute;;
	left: 5px;
	bottom: 8px;
}

#btnSave{
	position: absolute;;
	right: 5px;
	bottom: 8px;
}

#btnPaste{
	position: absolute;;
	left: 60px;
	bottom: 8px;
}

#btnCopy{
	position: absolute;;
	right: 60px;
	bottom: 8px;
}

#btnExchange{
	position: absolute;;
	right: calc(50% - 28px);
	bottom: 8px;
}


textarea{
	resize: none;
	border-width: 2px;
	border-radius: 8px;
	outline: none;
	padding: 8px;
	font-size: 110%;
	font-family: "Roboto";
	-webkit-user-select: auto;

	box-sizing: border-box;
	width: calc(50% - 30px);
	height: calc(100% - 148px);
}

#textareaOutput{
	background: whitesmoke;
}

@keyframes shadow_over{
	from{box-shadow: 0;}
	to{box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.18);}
}
@keyframes shadow_out{
	from{box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.18);}
	to{box-shadow: 0;}
}

textarea.over{
	animation-name: shadow_over;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

textarea.out{
	animation-name: shadow_out;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

a:link{
	color: LightSkyBlue;
}

a:hover{
	text-decoration: underline;
}


/* Styling the scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border: 0px none rgba(0, 0, 0, 0);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border: 0px none rgba(0, 0, 0, 0);
  border-radius: 88px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
